[flake8]
max-line-length = 89
extend-ignore = E203,W503
exclude =
    .git,
    __pycache__,
    .github,
    .labrc,
    README.md,
    .env.local,
    CHANGELOG.md,
    CONTRIBUTING.md,
    .mypy_cache,
    .pytest_cache

per-file-ignores =
    */__init__.py:F401
